.exhibition-image
{
  height: 150px;
  width: 150px;
  margin: 10px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid white;
  object-fit: cover;
  cursor: pointer;
  user-select: none;

}