*
{
  padding: 0;
  margin: 0;
}

body, html
{
  font-family: "averia sans libre", sans-serif;
}

header
{
  height: 175px;
  width: 100%;
  background-color: #d9e6dc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ganGalaxy-logo
{
  height: 100px;
  width: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  margin: 10px;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
}

.header-text
{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.welcome-container
{
  width: 100%;
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-background
{
  height: 650px;
  width: auto;
  margin: 10px;
  border: none;
  border-radius: 10px;
  display: block;
}

.welcome-container-entrance
{
  position: absolute;
  top: 55%; 
  left: 50%; 
  transform: translate(-50%, -45%); 
  border: none;
  border-radius: 10px;
}

.welcome-text
{
  color: white;
  font-size: 36px;
  position: absolute;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -70%); 
  text-align: center;
}